@font-face {
  font-family: "PP Neue Montreal Book";
  src: url(/PPNeueMontreal-Medium.otf);
}

@font-face {
  font-family: "PP Neue Montreal italic";
  src: url(PPNeueMontreal-Italic.otf);
}
@font-face {
  font-family: "Timezone";
  src: url(HALTimezoneTest-Regular.otf);
}
@font-face {
  font-family: 'newwoff'; /* Assign a custom font name */
  src: url('5f82d50f351f57cf28db92640688fb43.woff2') format('woff');
  /* You can also specify additional font formats for cross-browser compatibility */
}
/* .arrow {
  font-size: 34px;
} */

.nav {
  background-color: transparent !important;
  color: #000000;
  width: 100vw;
  height: 7vh;
  align-items: center;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding-top: 5px; 
  position: relative;
}


body {
  margin: 0;
  padding: 0;
  font-family: "newwoff";
  font-size: 1.1vw;
  cursor: url('icons/flowercursor.png'), auto;
}
.projectinfo{
  margin-block-end: 0;
  margin-block-start: 0;
}

.left-section {
  overflow-y: scroll;
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}
.left-section-image {
  position: relative;
  cursor: ew-resize;
  padding-bottom: 1%;
}

.text-shuffle {
  line-height: 1.2em;
}

.nav > * {
  margin: 0 1%;
}

.myname, .mylink {
  display: inline;
  text-decoration: none;

}
.myname {
  text-align: left;
  font-size: 1.2vw;
}

.nav2 > * {
  margin: 0 1%;
}

.myname2, .home2 {
  display: inline;
}

.home2 {
  text-align: right;
  text-decoration: none;
  /* color: black; */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.left-scroll {
  display: flex;
  width: 80%;
  flex-direction: column;
  overflow-y: scroll;
  height: auto;
}

.right-scroll {
  display: flex;
  width: 20%;
  flex-direction: column;
  overflow-y: scroll;
  height: auto;
  padding: 1%;
  
}

img {
  width: 100%;
}
.jayfai-section {
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}
.jayfai-section img {
  height: auto;
}

.mycelliumwiggle {
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}

.mycelliumwiggle img {
  height: auto;
}

.fourth-section{
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}

.fourth-section img {
  height: auto;
}

.fifth-section {
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}

.fifth-section img {
  height: auto;
}

.sixth-section {
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}

.sixth-section img {
  height: auto;
}

.seventh-section {
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seventh-section img {
  height: auto;
}

.eigth-section {
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}

.eigth-section img {
  height: auto;
}

.ninth-section {
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}

.ninth-section img {
  height: auto;
}

.tenth-section {
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}

.tenth-section img {
  height: auto;
}
.eleventh-section {
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}

.eleventh-section img {
  height: auto;
}
.twelfth-section {
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}
.twelfth-section img {
  height: auto;
}
.thirteen-section {
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}
.thirteen-section img {
  height: auto;
}
.fourteen-section {
  background-color: #ffffff;
  padding: 1%;
  justify-content: center;
  align-items: center;
}
.fourteen-section img {
  height: auto;
}

.parent-section {
  display: flex;
  width: 100vw;
  height: 95vh;
}

.infoscroll {
  display: flex;
  width: 100vw;
  height: 95vh;
}

.leftinfo-scroll {
  display: flex;
  width: 80%;
  flex-direction: column;
  overflow-y: scroll;
  height: auto;
}

.rightinfo-scroll {
  display: flex;
  width: 20%;
  padding: 2%;
}
.infoleftwrapper {
  overflow-y: scroll;
  background-color: #ffffff;
  padding: 1%;
  text-align: left; 
}

.inforightwrapper {
  overflow-y: scroll;
  flex: 2;
  background-color: #ffffff;
  padding: 1%;
}

.nav2 {
  background-color: #ffffff;
  color: #000000;
  width: 100vw;
  height: 5vw;
  align-items: center;
  z-index: 2;
  overflow-x: scroll;
  display: flex;
  justify-content: space-between;
}

.left-scroll .text-shuffle {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

a{
  /* text-decoration: none;   */
  color: black;
}

html {
  scroll-behavior: smooth;
}

.left-scroll a:hover,
.right-scroll a:hover {
  text-decoration: underline;
  transition: opacity 0.3s ease;
  color: black;
}
.right-scroll a {
  /* This rule targets all <a> tags inside .right-scroll */
  text-decoration: none; /* Remove underline by default */
  color: black; /* Set the default color */
}
.resumeimg{
  width: 30%;
}

.scrollable {
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scrollable img {
  max-width: 40%; /* Ensure the image doesn't exceed the container width */
  height: auto; /* Maintain the aspect ratio of the image */
  border: 1px solid #ccc; /* Optional: Add a border for visibility */
}

.email-link:hover img {
  content: url('icons/pinkmail.png'); /* Replace with the path to your hover image */
  transform: scale(1.1);
  background-color: transparent !important;
}

.linkedin-link:hover img {
  content: url('icons/pinklinkedin.png'); /* Replace with the path to your hover image */
  transform: scale(1.1);
  background-color: transparent !important;
}

.insta-link:hover img {
  content: url('icons/pinkinsta.png'); /* Replace with the path to your hover image */
  transform: scale(1.1);
  background-color: transparent !important;
}

.git-link:hover img {
  content: url('icons/pinkgit.png'); /* Replace with the path to your hover image */
  transform: scale(1.1);
  background-color: transparent !important;
}

.resume-link:hover img {
  content: url('icons/pinkresume.png'); /* Replace with the path to your hover image */
  transform: scale(1.1);
  background-color: transparent !important;
}
/* Add this CSS to your stylesheet */
.custom-cursor {
  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAACQklEQVR4nOVVTW9NURR9qZEShJaBxEfCSAxIMOUHqBEm6hdUGKpJzfX17t0+5JH6iISkZeAXiEiImtSgoTEjaiDRvvu6931N+7rknHucd6/eU9QbSNzkDO656661svY++5RK/8WDG/XtYLkH1hm7SO6C4+72kF/DBpBMgxX5Je9RReffC7BcsoSkr0G6yy7WCSdy4c8JR+oHQTIKludguQPSV07gnMdEet4JvEzjkhdgeYCh+cO/cJucAEljZRwKkPS1cNofwCwhkp5i8jGsA+knB74JkiNguQqSZef2kceSjjvCBkivIJJjIK24valigTRbQz6DAXRk3PaCZREsCtav6RL92a0zOGc5RmrbCuLBJrA0Laj6bXNLuLEfJLWCLorNN48bjLvSeKWJMtYHaqCPHcFbRHrWCJloCvNO43iIaHaLxZp/0mZ4Ei4y1XeAdDLjctFGERZYSuPz79Mm6rDAcLIXLB/WLqCTxmRYgPWpj4j09G9FZDF6xkfEOrbaSFgGSYLy3NZckVniAvIaysk+jzNCtoukiQo2FriPu93Ps6blWvtyykWRb1OWBbCc9LgBdID0i+Uoy85AkWXKiVzHsBxNT6whsvmOZ0RdbLIA0sv2UJLednsfs+coLxBJT65onFv9GSN9gZokiJLjwSKn7uYPgeW+HXYko37YsfbmT7cfdmYwPgPrLQzVD6xKHojtohOYQEV3I0r2gPTNmsf1CoEqOgsvHJJ3bblwSj86zM59c13qZ3tPDMZdbSH/55/vDt10kKSFYWQAAAAASUVORK5CYII='), auto;
}

.byme{
  font-size: 1vw;
}

.jayfaihtml {
  width: 80vw;
  height: auto;
  text-align: center;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}
/* Intro section styles */
.intro-section {
  display: none;
  padding: 1%;
  background-color: #ffffff;
  font-size: 1.2em;
}

.intro-section p {
  margin: 0.5em 0;
}
/* Media query to hide .right-scroll and adjust .left-scroll on smaller screens */
@media (max-width: 600px) {
  .right-scroll {
    display: none;
  }
  .left-scroll {
    width: 100%;
  }
  .intro-section {
    display: block;
  }
}
